* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    min-height: 200vh;
    background: #fff;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

header .logo a {
    text-decoration: none;
    color: #000;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.black {
    background: #fff;
    height: 50px;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    color: #000;
}

header ul li a:after {
    content: "";
    position: absolute;
    background-color: #dffc03;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

header ul li a:hover::after {
    width: 100%;

}

.fast {
    margin-top: 130px;
    text-align: center;
    background-color: #333333;
    height: 50px;
}

.fast p {
    padding-top: 13px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.field {
    display: flex;
    flex-direction: row;
}

.people1 {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 100px;
    height: 170px;
    width: 700px;
}

.people1 .review h5 {
    margin-top: 90px;
    margin-left: -90px;
    font-size: small;
}

.people1 img {
    width: 50px;
    margin: 20px;
    height: 50px;
    border-radius: 50px;
}

.people1 .name {
    display: flex;
    flex-direction: column;
}

.people1 .name h3 {
    margin-top: 20px;
    color: blue;
}

.people1 .name p {
    color: #000;
    font-size: small;
}

/* people2 */
.people2 {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 100px;
    height: 170px;
    width: 500px;
    margin-left: -40px;
}

.people2 .review2 h5 {
    margin-top: 90px;
    margin-left: -75px;
    font-size: small;
}

.people2 img {
    width: 50px;
    margin: 20px;
    height: 50px;
    border-radius: 50px;
}

.people2 .name2 {
    display: flex;
    flex-direction: column;
}

.people2 .name2 h3 {
    margin-top: 20px;
    color: blue;
}

.people2 .name2 p {
    color: #000;
    font-size: small;
}

.field2 {
    display: flex;
    flex-direction: row;
    margin-top: -140px;
}

/* people 3/ */
.people3 {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 100px;
    height: 200px;
    width: 500px;
    margin-right: 20px;
}

.people3 .review3 h5 {
    margin-top: 100px;
    margin-left: -70px;
    font-size: small;
}

.people3 img {
    width: 50px;
    margin: 20px;
    height: 50px;
    border-radius: 50px;
}

.people3 .name3 {
    display: flex;
    flex-direction: column;
}

.people3 .name3 h3 {
    margin-top: 20px;
    color: blue;
}

.people3 .name3 p {
    color: #000;
    font-size: small;
}

/* people 4/ */
.people4 {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 100px;
    height: 200px;
    width: 800px;
    margin-left: 40px;
}

.people4 .review4 h5 {
    margin-top: 90px;
    font-size: small;
    margin-left: -90px;
}

.people4 img {
    width: 50px;
    margin: 20px;
    height: 50px;
    border-radius: 50px;
}

.people4 .name4 {
    display: flex;
    flex-direction: column;
}

.people4 .name4 h3 {
    margin-top: 20px;
    color: blue;
}

.people4 .name4 p {
    color: #000;
    font-size: small;
}

/* field3/ */
.field3 {
    display: flex;
    flex-direction: row;
    margin-top: -120px;
}

.people5 {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 100px;
    height: 190px;
    width: 700px;
}

.people5 .review5 h5 {
    margin-top: 90px;
    margin-left: -90px;
    font-size: small;
}

.people5 img {
    width: 50px;
    margin: 20px;
    height: 50px;
    border-radius: 50px;
}

.people5 .name5 {
    display: flex;
    flex-direction: column;
}

.people5 .name5 h3 {
    margin-top: 20px;
    color: blue;
}

.people5 .name5 p {
    color: #000;
    font-size: small;
}

/* people2 */
.people6 {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 100px;
    height: 190px;
    width: 500px;
    margin-left: -30px;
}

.people6 .review6 h5 {
    margin-top: 90px;
    margin-left: -65px;
    font-size: small;
}

.people6 img {
    width: 50px;
    margin: 20px;
    height: 50px;
    border-radius: 50px;
}

.people6 .name6 {
    display: flex;
    flex-direction: column;
}

.people6 .name6 h3 {
    margin-top: 20px;
    color: blue;
}

.people6 .name6 p {
    color: #000;
    font-size: small;
}

.button1 {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #000;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff;

}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 400px;
    color: #000;
}

.produk ul {
    margin-top: 100px;
    margin-left: 130px;

}

.produk ul li {
    position: relative;
    list-style: none;

}

.produk ul li a {
    line-height: 1.5em;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    color: #000;
}

.footer .produk2 {
    margin-left: -260px;

}

.produk2 ul {
    margin-top: 100px;
    margin-left: 350px;

}

.produk2 ul li {
    position: relative;
    list-style: none;

}

.produk2 ul li a {
    line-height: 1.5em;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    color: #000;
}

.footer .produk3 {
    margin-left: -260px;

}

.produk3 ul {
    margin-top: 100px;
    margin-left: 350px;

}

.produk3 ul li {
    position: relative;
    list-style: none;

}

.produk3 ul li a {
    line-height: 1.5em;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    color: #000;
}

.footer .produk4 {
    margin-left: -260px;

}

.produk4 ul {
    margin-top: 100px;
    margin-left: 350px;

}

.produk4 ul li {
    position: relative;
    list-style: none;

}

.produk4 ul li a {
    line-height: 1.5em;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: 500px;
    transition: 0.6s;
    color: #000;
}

.footer .produk a:after {
    content: "";
    position: absolute;
    background-color: #f6a7c8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;

}

.footer .produk a:hover::after {
    width: 100%;

}

.footer .produk2 a:after {
    content: "";
    position: absolute;
    background-color: #f6a7c8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;

}

.footer .produk2 a:hover::after {
    width: 100%;

}

.footer .produk3 a:after {
    content: "";
    position: absolute;
    background-color: #f6a7c8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;

}

.footer .produk3 a:hover::after {
    width: 100%;

}

.footer .produk4 a:after {
    content: "";
    position: absolute;
    background-color: #f6a7c8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;

}

.footer .produk4 a:hover::after {
    width: 100%;

}

footer {
    text-align: center;
    padding-bottom: 20px;
    font-size: small;
}